name: RDP

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: self-hosted
    timeout-minutes: 720

    steps:
      - name: Create RDP user and show IP
        run: |
          $Upper   = [char[]](65..90)
          $Lower   = [char[]](97..122)
          $Number  = [char[]](48..57)
          $Special = ([char[]](33..47) + [char[]](58..64) + [char[]](91..96) + [char[]](123..126))

          $raw = @()
          $raw += $Upper   | Get-Random -Count 4
          $raw += $Lower   | Get-Random -Count 4
          $raw += $Number  | Get-Random -Count 4
          $raw += $Special | Get-Random -Count 4
          $password = -join ($raw | Sort-Object { Get-Random })

          $secure = ConvertTo-SecureString $password -AsPlainText -Force
          New-LocalUser -Name "RDP" -Password $secure -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member "RDP"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "RDP"

          Write-Host "=========================="
          Write-Host "USERNAME: RDP"
          Write-Host "PASSWORD: $password"
          Write-Host "PUBLIC IP:"
          curl ifconfig.me
          Write-Host "=========================="
