name: RDP

on:
  workflow_dispatch:

jobs:
  secure-rdp:
    runs-on: windows-latest
    timeout-minutes: 60

    steps:
      - name: Configure Core RDP Settings
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0 -Force
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0 -Force
          Restart-Service -Name TermService -Force

      - name: Create RDP User and SHOW password
        run: |
          $Upper   = [char[]](65..90)
          $Lower   = [char[]](97..122)
          $Number  = [char[]](48..57)
          $Special = ([char[]](33..47) + [char[]](58..64) + [char[]](91..96) + [char[]](123..126))

          $raw = @()
          $raw += $Upper   | Get-Random -Count 4
          $raw += $Lower   | Get-Random -Count 4
          $raw += $Number  | Get-Random -Count 4
          $raw += $Special | Get-Random -Count 4

          $password = -join ($raw | Sort-Object { Get-Random })

          $secure = ConvertTo-SecureString $password -AsPlainText -Force
          New-LocalUser -Name "RDP" -Password $secure -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member "RDP"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "RDP"

          Write-Host "=============================="
          Write-Host "RDP USERNAME: RDP"
          Write-Host "RDP PASSWORD: $password"
          Write-Host "=============================="

      - name: Show RDP status
        run: |
          Get-Service TermService
          Test-NetConnection localhost -Port 3389
